.App {
  font-family: sans-serif;
  text-align: center;
  background: #fff;
  padding-bottom: 20px;
}

.App h1 {
  color: #404b69;
}

.App h3 {
  color: #f73859;
  padding-bottom: 20px;
}

.App .viewScreen {
  padding: 1% 10%;
  
}

.Directions {
  text-align: left;
  max-width: 25rem;
  margin-right: 2rem;
}

.Email {
  white-space: pre-wrap;
  text-align: left;
  background: #fff;
  padding: 10px;
  width: 500px;
  margin: 16px;
  display: inline-table;
}

.Email .close {
  float: right;
}

.Email .complete {
  float: left;
  margin-right: 5px;
}

.Email .copy {
  float: right;
  margin-right: 10px;
  border-radius: 7px;
}

.Form {
  text-align: left;
  margin-left: 15px;
}

.Form .inputName {
  margin-right: 10%;
}

.Form textarea {
  margin-top: 15px;
  width: 100%;
}

.Form .submit {
  margin: 10px;
  font-size: 17px;
}
.Form .submit:hover {
  background: #404b69;
}

.Footer footer {
  color: #283149;
  padding-top: 175px;
  padding-bottom: 10px;
}

@media (max-width: 1375px) {
  .App .viewScreen {
    padding: 1% 10%;
  }
}

@media (max-width: 1225px) {
  .App .viewScreen {
    padding: 1% 5%;
    text-align: center;
  }
}
